* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #5632fa;
  --secondary-color: #20b9fc;
  --tertiary-color: #b7bbc7;
  --quaternary-color: #f5f5f7;
}